/* Main CSS */

body{
	font-family:'Futura', sans-serif;
	color: #000000;
	font-size: 14px;
	line-height: 1.25em;
}

#section1 {
    width: 100%;
    padding: 0px 5px 0px 5px;
}	

#section2 {
    width: 100%;
    padding: 0px 5px 0px 5px;
}	

h1,h2,h3,h4,h5,h6 {
	font-family:'Futura', sans-serif;
    background-color: #737373;
	color: #ffffff;
    border-radius: 2px;
	margin: 5px 5px 5px 5px;
    padding: 0px;
    text-align: center;
}

h1{
	font-size: 2em;
	line-height: 1.2em;
	}

	h2{
	  font-size: 1.5em;
	  line-height: 1.25em;
	}

	h3{
	  font-size: 1.3em;
	  line-height: 1.15em;
	}

	h4{
	  font-size: 1em;
	  line-height: 1.10em;
	}

	h5{
	  font-size: 0.8em;
	  line-height: 1.05em;
	}

	h6{
	  font-size: 0.7em;
	  line-height: 1em;
	}

header h1 {
    background-color: #ffffff;
	color: #737373;
    height: 1.2em;
    float: left;
    width:100%;
    margin-top:0;
}

header nav input {
    position:fixed;
    top:0;
    right:0;
    visibility:hidden;
}

input[type=checkbox]:checked ~ ul {
    display:block;
}

header nav img{
    float:right;
    width:40px;
}

input[type=checkbox]:checked ~ label {
    position:fixed;
    background: #fff;
    padding:.5em;
    right:0;
    top:0;
}

#sitenav{
	font-family:'Futura', sans-serif;
    background-color: #ffffff;
    border-radius: 2px;
	margin: 5px 5px 5px 5px;
    padding: 1px;
    height: 1.2em;
    font-size: 16px;
	line-height: 1.25em;
    text-align: center;
}

header nav ul {
    padding:0;
    position:fixed;
    top:2.5em;
    right:0;
    display:none;
    width:55%;
}

header nav li {
    display:block;
}

header nav li a {
    font-family:'Futura', sans-serif;
    text-decoration: none;
    color:black;
    display:block;
    width:100%;
    padding:1em;
    background:#ddd;
}

header nav li a:hover {
    color:white;
    background:#555;
}
	
#banner {
    width:100%;
    height:100%;
    text-align: center;
}

#banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

footer {
    clear: both;
    border-top: 1px solid #bbb;
    padding-top: 7px;
    font-weight: 700;
    font-size: .80em;
}

/* Responsive CSS */

@media only screen 
    and (min-width:1000px){
    
body{
	font-family:'Futura', sans-serif;
	color: #000000;
	font-size: 14px;
	line-height: 1.25em;
}
    
#section1 {
    width: 49%;
    float: left;
    padding: 0px 5px 0px 5px;
}	

#section2 {
    width: 49%;
    float: right;
    padding: 0px 5px 0px 5px;
}		
        
header h1 {
    height: 1.2em;
    width:100%;
    margin-top:0;
}
    
#banner {
    width:100%;
    height:100%;
    text-align: center;
}

#banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}	
    
/* Responsive Navigation */
        
#sitenav{
    background-color: #737373;
}       
    
header nav {
    clear:both;
    float:right;
    height:2em;
}
        
header nav label {
    display:none;
}
    
header nav img{
    display:none;
    float:right;
    width:50px;
}

header nav ul {
    margin-top:-1em;
    position:static;
    display:inline;
    width:100%;
}

header nav li {
    display:inline;
    padding:1em 1em 1em 1em;
}

header nav li a {
    color:#000000;
    display:inline;
    width:100%;
    padding:1em;
    background:none;
    font-family:'Futura', sans-serif;
	color: #ffffff;
}

header nav li a:hover {
    color:#ffffff;
    background:#000000;
}
	
}

/* Footer */
    
footer {
    text-align:center !important;
    clear: both;
    border-top: 1px solid #737373;
    font-family:'Futura', sans-serif;
	color: #000000;
    font-size: 0.7em;
}

video {
    width:100%;
    height:100%;
    max-width: 100%;
    margin:auto;
}