/* Original CSS with changes */

#wrapper {
    width: 96%;
    max-width: 920px;
    margin: auto;
    padding: 2%;
} 

main {
    width: 100%;
    float: left;
}		

aside {
    width: 100%;
    float: right;
}

header h1 {
    float: left;
    display: block;
    width:80%;
    margin-top:0;
}

header nav input {
    position:fixed;
    top:0;
    right:0;
    visibility:hidden;
}

input[type=checkbox]:checked ~ ul {
    display:block;
}

header nav img{
    float:right;
    width:40px;
}

input[type=checkbox]:checked ~ label {
    position:fixed;
    background: #fff;
    padding:.5em;
    right:0;
    top:0;
}

header nav ul {
    padding:0;
    position:fixed;
    top:2.5em;
    right:0;
    display:none;
    width:55%;
}

header nav li {
    display:block;
}

header nav li a {
    text-decoration: none;
    color:black;
    display:block;
    width:100%;
    padding:1em;
    background:#ddd;
}

header nav li a:hover {
    color:white;
    background:#555;
}

#jump {
    display: block;
}

#jump li {
    background: #eee;
}
	
#banner {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

#banner img {
    width: 100%;
}

footer {
    clear: both;
    border-top: 1px solid #bbb;
    padding-top: 7px;
    font-weight: 700;
    font-size: .80em;
}

/* Responsive media */

@media only screen and (min-width:480px)    {
    
#wrapper {
    width: 96%;
    max-width: 920px;
    margin: auto;
    padding: 2%;
} 

main {
    width: 60%;
    margin-right: 5%;
    float: left;
}		

aside {
    width: 35%;
    float: right;
}

header h1 {
    height: 70px;
    float: left;
    display: block;
}
		
/* Navigation */
    
header nav {
    clear:both;
    float:right;
    height:1.5em;
}
        
header nav label {
    display:none;
}
    
header nav img{
    display:none;
    float:right;
    width:50px;
}

header nav ul {
    margin-top:-1em;
    position:static;
    display:inline;
    width:100%;
}

header nav li {
    display:inline;
    padding:1em 1em 1em 1em;
}

header nav li a {
    text-decoration: underline;
    color:blue;
    display:inline;
    width:100%;
    padding:0;
    background:none;
}

header nav li a:hover {
    color:blue;
    background:#fff;
}
    
#jump {
    display: none;
}

#jump li {
    background: #eee;
}
	
#banner {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

#banner img {
    width: 100%;
}

footer {
    text-align:center !important;
    clear: both;
    border-top: 1px solid #bbb;
    font-size: 0.7em;
}
    
}